@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


/* ========================================
   VARIABLES GLOBALES
======================================== */

:root {

   /* === TIPOGRAFÍA === */
   --font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

   /* === COLORES PRINCIPALES === */
   --color-primary: #161737;
   --color-primary-hover: #3d355b;
   --color-secondary: #da0040;
   --color-secondary-hover: #ae0033;
   --color-sections-bg: #f8f9fa;
   --color-sections-bg-dark: #e9ecef;

   /* === COLORES DE FONDO === */
   --bg-main: #FFFFFF;
   --bg-header: #FFFFFF;   
   --bg-footer: var(--color-sections-bg);

   /* === COLORES DE TEXTO === */
   --text-primary: var(--color-primary);
   --text-secondary: var(--color-primary-hover);
   --text-footer-link: var(--color-primary);
   --text-footer-link-hover: var(--color-secondary);
   --text-footer-bottom: var(--text-secondary);

   /* === COLORES DE BORDES === */
   --border-color-search-bar: var(--color-secondary);
   --border-color-featured-categories-circle: transparent;

   /* === BORDER RADIUS === */
   --border-radius-button: var(--border-radius-round);
   --border-radius-search-bar: var(--border-radius-round);

   /* === TIPOGRAFÍA === */
   --font-weight-featured-category-button: var(--font-weight-normal);
   --font-weight-categories-button: var(--font-weight-normal);
   --font-weight-account-button: var(--font-weight-normal);
   --font-weight-login-button: var(--font-weight-normal);
   --font-weight-register-button: var(--font-weight-normal);  
   --font-weight-listing-card-button: var(--font-weight-normal);
   --text-transform-button: uppercase;   

   /* === SOMBRAS === */  
   --shadow-button-hover: none;
   --shadow-featured-categories: none;   

   /* TRANSFORMACIONES */
   --transform-button-hover: none;

   /* === FILTERS === */
   --filter-header-logo: none;
   --filter-footer-logo: none;

}

/* ========================================
   FIN - VARIABLES GLOBALES
======================================== */

app-header .search-bar{   
   width: calc(100% - -4px) !important;
}

app-hero-slider .slide-title{
   font-size: 4rem !important;
   font-weight: 600 !important;
   box-shadow: none !important;
}

app-highlights .highlight-item {
   flex-direction: column;
}

app-highlights .highlight-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}