.page-header {
  background: var(--bg-page-header);
  padding: 2rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--border-color-normal);
}

.header-info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-page-header);
  margin: 0 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.page-description {
  font-size: 1.1rem;
  opacity: 0.9;
  max-width: 600px;
  margin: 0 auto;
  color: var(--text-page-header);
}

.header-logo{
  max-height: 100px;
}

@media (max-width: 768px) {
  .page-header {
    padding: 1.5rem 0;
  }

  .page-title {
    font-size: 2rem;
  }

  .page-description {
    font-size: 1rem;
  }
}