<div class="home-page">

  <app-hero-slider *ngIf="getHomeSectionsConfig().heroSlider"></app-hero-slider>

  <section *ngIf="getHomeSectionsConfig().heroText" class="hero">
    <div class="hero-container">
      <h1>{{'PAGES.HOME.HERO.TITLE' | translate}}</h1>
      <p>{{'PAGES.HOME.HERO.SUBTITLE' | translate}}</p>
    </div>
  </section>
  
  <app-highlights *ngIf="getHomeSectionsConfig().highlights"></app-highlights>

  <app-featured-categories *ngIf="getHomeSectionsConfig().categories"></app-featured-categories>

  <app-featured-advertisers *ngIf="getHomeSectionsConfig().advertisers"></app-featured-advertisers>

  <app-carousel title="{{'PAGES.HOME.NEWS.TITLE' | translate}}" *ngIf="getHomeSectionsConfig().newsStrip">
    <app-listing-card 
      *ngFor="let listing of newestListings" 
      [listing]="listing">
    </app-listing-card>
  </app-carousel>

  <app-carousel title="{{'PAGES.HOME.OFFERS.TITLE' | translate}}" *ngIf="getHomeSectionsConfig().offersStrip">
    <app-listing-card 
      *ngFor="let listing of offerListings" 
      [listing]="listing">
    </app-listing-card>
  </app-carousel>
           
</div>