<footer class="footer">
      <div class="footer-container">
        <!-- Logo Section -->
        <div class="footer-logo-section">
          <div class="footer-logo">
            <a routerLink="/" class="logo">
              <img 
                [src]="this.themeService.getLogoUrl()" 
                alt="Logo" 
                class="footer-logo-img"
                loading="eager">
            </a>
          </div>          
          <div class="social-links">
            <a href="{{'COMMUNITY.SOCIAL.INSTAGRAM' | translate }}" class="social-link" aria-label="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="{{'COMMUNITY.SOCIAL.FACEBOOK' | translate }}" class="social-link" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="{{'COMMUNITY.SOCIAL.LINKEDIN' | translate }}" class="social-link" aria-label="LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </div>
                      
        <!-- Ayuda Section -->
        <div class="footer-section">
          <h3>Ayuda</h3>
          <ul>
            <li><a routerLink="/como-comprar">Cómo Comprar</a></li>
            <li><a routerLink="/formas-pago">Formas de Pago</a></li>
            <li><a routerLink="/envios">Envíos</a></li>
            <li><a routerLink="/devoluciones">Cambios y Devoluciones</a></li>
            <li><a routerLink="/contacto">Contacto</a></li>
            <li><a routerLink="/faq">Preguntas Frecuentes</a></li>
          </ul>
        </div>

        <!-- Legal Section -->
        <div class="footer-section">
          <h3>Legal</h3>
          <ul>
            <li><a routerLink="/terminos">Términos y Condiciones</a></li>
            <li><a routerLink="/privacidad">Política de Privacidad</a></li>
            <li><a routerLink="/cookies">Política de Cookies</a></li>
            <li><a routerLink="/defensa-consumidor">Defensa del Consumidor</a></li>
          </ul>
        </div>
      </div>
      
      <!-- Footer Bottom -->
      <div class="footer-bottom">
        <p>&copy; {{ getCopyrightText() }}</p>
      </div>
    </footer>