<div class="login-required-container">
  <div class="login-required-card">
  
    <div class="icon-container">
      <i class="fas fa-lock"></i>
    </div>
    
    <h1>{{ 'PAGES.LOGIN_REQ.SECTION_TITLE' | translate }}</h1>
    <p class="message">
      {{ 'PAGES.LOGIN_REQ.SECTION_DESCRIPTION' | translate }}
    </p>
    
    <div class="actions">
      <button (click)="login()" class="btn-login">
        <i class="fas fa-sign-in-alt"></i>
        {{ 'PAGES.LOGIN_REQ.LOGIN' | translate }}
      </button>
      
      <button (click)="register()" class="btn-register">
        <i class="fas fa-user-plus"></i>
        {{ 'PAGES.LOGIN_REQ.REGISTER' | translate }}
      </button>
    </div>
    
    <button (click)="goBack()" class="btn-link">
      <i class="fas fa-arrow-left"></i>
      {{ 'PAGES.LOGIN_REQ.GO_BACK' | translate }}
    </button>
  </div>
</div>