/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}